.home-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-page > div > a {
  margin: 0px 10px;
}

.hero-section {
  width: 70%;
  height: 70vh;
  margin-top: 1em;
  border-radius: 20px;
  background-color: whitesmoke;
  display: flex;
}

.hero-section > section {
  height: 95%;
  width: 50%;
  background-color: "";
}

.hero-details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  padding: 0px 50px;
}

.hero-details-section > h1 {
  font-size: 44px;
  font-family: sans-serif;
}

.hero-details-section > p {
  font-size: 14px;
  width: 75%;
  color: #373737;
  text-align: start;
}

.hero-details-section > button {
  height: 48px;
  width: 40%;
  box-shadow: 10px 0px 10px rgba(128, 128, 128, 0.473);
  background-color: var(--secondary-color);
  color: white;
}

.hero-image-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image-section > img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  border-radius: 20px;
}

/*Home Catergories*/

.home-catergories {
  width: 70%;
  height: 20vh;
  display: flex;
  cursor: default;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 30px 0px;
}

.home-catergories > h3 {
  font-size: 24px;
}

.hc-div {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.hc-div > li {
  height: 100%;
  flex: 0 0 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.home-catergories > ul > li:hover {
  opacity: 0.9;
  scale: 0.9;
}

/*Featured Products*/

.featured-products {
  height: 60vh;
  width: 70%;
  background-color: "";
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.featured-products > h3 {
  font-size: 24px;
}

.featured-products > p {
  font-weight: normal;
  color: #373737;
  font-size: 12px;
}

.fp-div {
  width: 100%;
  height: 85%;
  background-color: "";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.fp-container {
  height: 90%;
  width: 24%;
  padding: 0px;
  border: 0.1px solid rgba(128, 128, 128, 0.28);
}

.fpc-image {
  height: 85%;
  width: 100%;
}

.fpc-image > img {
  height: 100%;
  width: 100%;
  border-radius: 0px;
}

.fpc-details {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.fpc-details > span {
  font-weight: normal;
  font-size: 14px;
  color: #373737;
}

/*Home Video*/
.home-video {
  width: 70%;
  height: 70vh;
  background-color: var(--secondary-color);
  border-radius: 10px;
  position: relative;
}

.home-video > source {
  width: full;
  height: full;
}

.hv-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.7;
}

.hv-title {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hv-title > h1 {
  text-align: center;
}

/*Latest*/

.h-latest {
  height: 80vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px 0px;
}

.hl-titles {
  width: 100%;
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 4px;
}

.hl-titles > p {
  font-size: 14px;
  color: #373737;
}

.hl-div {
  flex: 0 0 85%;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hl-main-image {
  height: 100%;
  flex: 0 0 50%;
}

.hl-main-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.hl-sub-image {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  padding: 5px;
}

.hl-cont {
  flex: 0 0 49%;
  height: 49%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
}

.hlc-image {
  flex: 0 0 80%;
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hlci-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hlc-details {
  width: 100%;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 10px;
}

.hlc-details>h3{
  font-size: 14px;
  font-weight: normal;
}

.hlc-details > span {
  font-size: 12px;
  color: green;
}

/*Home Featured Links*/

.h-featured-links {
  width: 70%;
  height: 60vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 4px;
  margin: 30px 0px;
}

.h-featured-links > div {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--secondary-color);
}

.hfl-link {
  background-size: cover;
}

.h-featured-links > div > a {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(218, 165, 32, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: underline;
}

.h-featured-links>div>a:hover{
   background-color: rgba(218, 165, 32, 0.9);
}

/*Home Explore*/

.home-explore {
  width: 70%;
  height: 70vh;
  margin-top: 0px;
}

.home-explore > section {
  height: 100%;
  width: 50%;
}

.he-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.he-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.he-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0px 50px;
  gap: 20px;
}

.he-details > h1 {
  font-size: 68px;
  font-family: "Courier New", Courier, monospace;
  line-height: 0.8;
}

.he-details > p {
  width: 50%;
}

.he-details > button {
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: 0px 5px 5px 5px rgba(128, 128, 128, 0.327);
}

@media (max-width: 600px) {
  .home-page {
    margin-top: 0px;
  }

  .hero-section {
    height: 90vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
  }

  .hero-section > section {
    width: 100%;
    height: 50%;
  }

  .hero-details-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-details-section > h1 {
    text-align: center;
    font-size: 32px;
  }

  .hero-details-section > p {
    text-align: center;
  }

  /*Home Categories*/

  .home-catergories {
    height: 30vh;
    width: 90%;
    align-items: center;
  }

  .hc-div {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hc-div > li {
    flex: 0 0 49%;
    height: 47%;
  }

  /*Featured Products*/

  .featured-products {
    width: 90%;
    flex: 0 0 70vh;
    align-items: center;
  }

  .fp-div {
    flex-wrap: wrap;
  }

  .fp-container {
    flex: 0 0 47%;
    height: 49%;
  }

  /*Home Video*/

  .home-video {
    width: 90%;
    height: 40vh;
  }

  .hv-title > h1 {
    font-size: 24px;
  }

  /*Latest*/

  .h-latest {
    width: 90%;
    height: 100vh;
  }
  .hl-titles {
    flex: 0 0 10%;
    align-items: center;
    justify-content: center;
  }
  .hl-titles > p {
    font-size: 12px;
  }

  .hl-div {
    flex: 0 0 90%;
    flex-direction: column;
    padding: 10px 0px;
  }

  .hl-main-image {
    flex: 0 0 40%;
    height: 40%;
    width: 100%;
  }

  .hl-sub-image {
    width: 100%;
    height: 60%;
    flex: 0 0 60%;
    justify-content: space-between;
    padding: 10px 0px;
  }

  .hlc-details>h3{
    font-size: 12px;
  }

  .hlc-details > span {
    font-size: 12px;
  }

  .h-featured-links {
    width: 90%;
    height: 80vh;
    flex-direction: column;
  }

  .h-featured-links > div {
    height: 50%;
    width: 100%;
  }
}
