.header-order-hist {
  font-size: 1.5rem;
  font-weight: 600;
  color: #616060;
  margin-bottom: 1rem;
}

.order-history-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.order-table-summary {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 246, 246);
}

.order-summary-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-id {
  font-weight: bold;
}

.order-date {
  color: #555;
}

.order-total {
  font-weight: bold;
}

.order-status {
  padding: 0.3em 0.5em;
  border-radius: .3rem;
  cursor: default;
}

.order-status.delivered {
  background-color: #34d399;
  color: white;
}

.order-status.processing {
  background-color: #f59e0b;
  color: white;
}

.order-status.cancelled {
  background-color: #ef4444;
  color: white;
}

.order-status.pending {
  background-color: #3b82f6;
  color: white;
}

.order-items {
  margin-top: 10px;
}

.order-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.order-item-image {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.order-item-details {
  display: flex;
  flex-direction: column;
}

.order-item-name {
  font-weight: bold;
}

.order-item-qty,
.order-item-price {
  color: #555;
}
